/* ------------------variables */
:root {
  --base-color:  #3a60c9;
  --base-color2: #2a4796;
  --white-color: white;
  --black-color: #313337;
  /* Espaciado */
  --space1: 10px;
  --space2: 20px;
  --box: 0 0 20px  #b7afff;
}

/* ---------------------generales */
html, body {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: Arial;
  text-decoration: none;
}

/* -----------------------------------Header */
header {
  background: linear-gradient(145deg,#b9dfd5, var(--base-color));
  height: 40px;
  display: flex;
  padding: var(--space1);
  color: var(--white-color);
  /* separa los elemento cada uno a los extremos */
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
nav img {
  height: 40px;
}

header ul {
  display: flex;
}
header li {
  padding-left: 20px;
  list-style: none;
}
header li a {
  color: var(--black-color);
  text-decoration: none;

}
/* -------------Acciones del header-------- */
header li a:hover{
  color: var(--white-color);
}
header img:hover {
  transform: scale(1.1);
  transition: all .5s;
}

/* --------------------------------inicio */
.inicio {
  height: 100vh;
  background-image: url("../images/md.gif");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 1fr;
}
.inicio-title {
  grid-column: 2
}
.inicio-title h1 {
  font-size: 40px;
  text-align: center;
  color: var(--base-color);
  /* background-color: rgba(0,0,0,.1); */
}
.inicio-button {
  grid-column: 2;
  display: grid;
  grid-template-rows: 60px 60px; 
  justify-content: center;
 }
.inicio-button button {
  width: 120px;
  height: 40px;
  background: var(--base-color)
  color: var(--white-color)
}
.inicio-button a {
  font-weight: 700;
  text-decoration: none;
  color: var(--base-color);
}
.inicio button:hover{
  font-size: 17px;
  transform: scale(1.1);
  transition: all .5s;
}
/* -----------------------------------------services */
.services {
  max-width: 980px;
  margin: auto;
  padding: var(--space2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
.service {
  background: linear-gradient(145deg,#fcfffe, #aac0fc);
  margin: var(--space2);
  padding: var(--space2);
  box-shadow: var(--box);
  border-radius: var(--space1);
  text-align: center;
}
.service img {
  width: 150px;
  border-radius: var(--space1)
}
.service h1 {
  color: var(--base-color);
}
/* ----propiedades de button abajo */

/* ------------------------detalle de servicios */
.detail-of-services {
  background: linear-gradient(245deg,#fcfffe, #aac0fc);
  padding: 100px 0;
  display:grid;
  justify-items: center;
}
.service-detail {
  width: 600px;
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr;
  align-items: center;
  justify-items: center;
  /* text-align: center; */

}
.service-img1 {
  grid-column: 1;
  grid-row: 1;
  text-align:center;
}
.service-text1 {
  grid-column: 2;
  grid-row: 1;
}
.service-img2 {
  grid-column: 2;
  grid-row: 2;
  text-align:center;
}
.service-text2 {
  grid-column: 1;
  grid-row: 2;
}
.service-img3 {
  grid-column: 1;
  grid-row: 3;
  text-align:center;
}
.service-text3 {
  grid-column: 2;
  grid-row: 3;
}
.service-detail img {
  width: 150px;
}
.service-text1 h1, .service-text2 h1, .service-text3 h1 {
  text-align: center;
}
.service-detail button, .services button {
  background-color: var(--base-color);
  cursor: pointer;
  border-radius: var(--space1);
  width: 160px;
  height: 30px;
}
.service-detail a, .services a{
  color: var(--white-color);
  text-decoration: none;
}
.service-detail button:hover, .service button:hover{
  background-color:  var(--base-color2);
  transform: scale(1.1);
  transition: all .5s;
}





/* button flotante */
.button {
  position: fixed;
  bottom: 0;
  left: 0;
}
.button img{
  height: 50px;
  width: 50px;
}
.button:hover {
  transform: scale(1.1);
  transition: all .5s;
}

/* -------------aqui esta el fin */
