/* ------------------variables */
:root {
  --base-color:  #a8dd9b;
  --base-color2: #81a877;
  --white-color: white;
  --black-color: #313337;
  /* Espaciado */
  --space1: 10px;
  --space2: 20px;
  --box: 0 0 20px  #b7afff;
}

/* ---------------------generales */
html, body {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: Arial;
}


/* -----------------------------------Header */
header {
  background-color: var(--base-color);
  height: 40px;
  display: flex;
  padding: var(--space1);
  color: var(--white-color);
  /* separa los elemento cada uno a los extremos */
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

nav img {
  height: 40px;
}

header ul {
  display: flex;
}

header li {
  padding-left: 20px;
  list-style: none;
}

header li a {
  color: var(--black-color);
  text-decoration: none;
}

/* -------------Acciones del header-------- */
header li a:hover{
  color: var(--white-color);
}
header img:hover {
  transform: scale(1.1);
  transition: all .5s;
}

/* --------------------------------encabezado */
.inicio {
  margin: var(--space2);
  padding: var(--space2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
/* .inicio .inicio-img {
  grid-column: 1;
} */
.inicio .inicio-text {
  text-align: center;
}
.inicio-img img {
  width: 100%;
}
.inicio-text a {
  font-size: 16px;
  color: var(--base-color2);
  /* se debe de aplicar no en h1 si no en a para quitar subrallado. text-decoration es para sub rallado arriba, abajo en en medio */
  text-decoration: none;
}
.inicio a:hover{
  color: var(--black-color);
  font-size: 17px;
  transition: all .5s;
}
/* -----------------------------------------services */
.services {
  /* background-color: blue; */
  padding: var(--space2);
  display: flex;
  /* text-align: center;
  align-items: center; */
  position: center;

}
.service {
  margin: var(--space2);
  padding: var(--space2);
  box-shadow: var(--box);
  border-radius: var(--space1);
  /* text-align: center; */
  /* position: center; */
}
.c_service {
  text-align: center;
}
.service img {
  width: 120px;
}

.service h1 {
  color: var(--base-color);
}
.services button {
  background-color: var(--base-color);
  padding: var(--space1);
  color: var(--white-color);
  /* efecto de manita */
  cursor: pointer;
  border-radius: var(--space1);
  width: 100%;
  font-family: Arial;
}

.service button:hover {
  background-color:  #5c5883;
}




/* -------------aqui esta el fin */
