@media screen and (max-width: 1024px) {
    .inicio {
        background-size: 100%;
      }
    .inicio-title h1 {
        font-size: 35px;
      }
    .services {
        max-width: 90%;
    }
    .service-detail {
        width: 70%;
      }
    .service-1, .service-2, .service-3 {
      width: 700px
    }
    .contact-details {
        width: 300px;
      }
    .figure {
        width: 300px;
      }
      .contacts img {
        margin: 0;
        padding: 5px;
      }
    .button {
        left: 40px;
      }
}
@media screen and (max-width: 768px) {
    .inicio {
        background-size: 120%;
      }
    .inicio-title h1 {
        font-size: 30px;
      }
      .services {
        max-width: 80%;
    }
    .service-detail {
       max-width: 50%;
      }
    .service-1, .service-2, .service-3 {
        width: 500px
      }
    .contact-details {
        width: 200px;
      }
    .figure {
        width: 250px;
      }
    .button {
        left: 30px;
      }
}
@media screen and (max-width: 480px) {
    .inicio {
        background-size: 140%;
      }
    .inicio-title h1 {
        font-size: 25px;
      }
    .services {
      max-width: 70%;
      grid-template-columns: 1fr;
    }
    .service img {
      max-width: 50%;
    }
    
    .service-detail {
      max-width: 80%;
      }
    .service-1, .service-2, .service-3 {
        max-width: 300px;
      }
      .detail-of-services {
        padding: 50px 0;
      }
      .service-detail img {
        max-width: 90%;
      }
      

      footer {
        padding: 10px;
        background: var(--black-color);
        display:grid;
        justify-content: center;
        color: var(--white-color)
      }
      .contacts {
        display:grid;
        grid-template; 1fr 1fr / 1fr;
        justify-content: center;
        align-items: center;
      }
      .contact-details {
        /* width: 200%; */
        grid-column: 1;
        grid-row: 2;
        text-align: start;
      }
      .figure {
        /* width: 200%; */
        grid-column: 1;
        grid-row: 1;
        text-align: center;
      }
      .contacts img {
        padding: 5px;
        width: 50px;
      }



      .contact-details {
        width: 200px;
      }
    .figure {
        width: 250px;
      }





    .button {
        left: 0px;
      }
    .button img{
        height: 30px;
        width: 30px;
      }
    
}
@media screen and (max-width: 320px) {
    .inicio {
        background-size: 140%;
      }
      .services {
        max-width: 50%;
        grid-template-columns: 1fr;
      }
      .service img {
        max-width: 40%;
      }
      
      .service-detail {
        max-width: 70%;
        }
      .service-1, .service-2, .service-3 {
          max-width: 200px;
        }
        .detail-of-services {
          padding: 40px 0;
        }
        .service-detail img {
          max-width: 90%;
        }
}