@media screen and (max-width: 1024px) {
    .inicio {
        background-size: 100%;
      }
    .inicio-title h1 {
        font-size: 35px;
      }
    .services {
        max-width: 90%;

    }
    .service-detail {
        width: 70%;
      }
    .contact-details {
        width: 300px;
      }
    .figure {
        width: 300px;
      }
      .contacts img {
        margin: 0;
        padding: 5px;
      }
    .button {
        left: 40px;
      }
}
@media screen and (max-width: 768px) {
    .inicio {
        background-size: 120%;
      }
    .inicio-title h1 {
        font-size: 30px;
      }


      .contact-details {
        width: 200px;
      }
    .figure {
        width: 250px;
      }


    .button {
        left: 30px;
      }
}
@media screen and (max-width: 480px) {
    .inicio {
        background-size: 140%;
      }
    .inicio-title h1 {
        font-size: 25px;
      }


      .services {
        grid-template-columns: 1fr;
      }
      .service img {
        width: 100px;
      }
      .detail-of-services {
        padding: 50px 0;
      }
      .service-detail {
        display: grid;
        grid-template: .5fr 1fr .5fr 1fr .5fr 1fr  / 1fr;
      }
      .service-img1 {
        grid-row: 1;
      }
      .service-text1 {
        grid-column: 1;
        grid-row: 2;
      }
      .service-img2 {
        grid-column: 1;
        grid-row: 3;
      }
      .service-text2 {
        grid-row: 4;
      }
      .service-img3 {
        grid-row: 5;
      }
      .service-text3 {
        grid-column: 1;
        grid-row: 6;
      }
      .service-detail img {
        width: 150px;
      }
      

      footer {
        padding: 10px;
        background: var(--black-color);
        display:grid;
        justify-content: center;
        color: var(--white-color)
      }
      .contacts {
        display:grid;
        grid-template; 1fr 1fr / 1fr;
        justify-content: center;
        align-items: center;
      }
      .contact-details {
        /* width: 200%; */
        grid-column: 1;
        grid-row: 2;
        text-align: start;
      }
      .figure {
        /* width: 200%; */
        grid-column: 1;
        grid-row: 1;
        text-align: center;
      }
      .contacts img {
        padding: 5px;
        width: 50px;
      }



      .contact-details {
        width: 200px;
      }
    .figure {
        width: 250px;
      }





    .button {
        left: 0px;
      }
    .button img{
        height: 30px;
        width: 30px;
      }
    
}
@media screen and (max-width: 320px) {
    .inicio {
        background-size: 140%;
      }

}